* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body, html {
    height: 100%;
}

.login-container {
    display: flex;
    height: 100vh;
}

.image-section {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-section img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.form-section {
    flex: 1;
    background: linear-gradient(#6390c1, #9bacbd);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
}

.form-section img {
    background: linear-gradient(#ffffff, #f9f9f9);
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    max-width: 700px;
    height: 400px;
}


.form-section h1 {
    margin-bottom: 30px;
    font-size: 4rem;
    color: #ffffff;
    padding-bottom: 4rem;
    text-align: center;
}

.form-section form {
    display: flex;
    flex-direction: column;
}

.form-section label {
    margin: 10px 0 5px;
    font-weight: bold;
    font-size: 21px;
}

.form-section input {
    padding: 10px;
    border: 1px;
    border-radius: 5px;
    height: 50px;
    font-size: 21px;
}

.form-section button {
    margin-top: 20px;
    padding: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 19px;
}

.form-section button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.home-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    text-align: center;
    background: linear-gradient(#6390c1, #9bacbd);
    color: #ffffff;
    padding: 20px;
}

.home-container h1 {
    margin-bottom: 30px;
    font-size: 4rem;
    padding-bottom: 4rem;
    padding-top: 4rem;
}

.home-container p {
    font-size: 1.5rem;
    text-align: center;
    max-width: 800px;
    margin: 1rem auto;
}

.links-container {
    display: flex;
    gap: 1.5rem;
    margin-top: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.links-container a {
    min-width: 160px;
    padding: 15px 25px;
    background-color: #3991c5;
    color: #ffff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}